@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');

:root{ /* Burda css değişkenlerini tanımlarız*/

    --line-border-fill:#4a4e69;
    --line-border-empty:#f2e9e4;
}
*{/*sayfadaki tüm ögeler için ayarlar*/
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; /*bu üçü ögeyi sayfanın ortasına koyar ve ekran boyutu değişsede ortalar*/
    height: 100vh; /*Yüksekliği sayfanın yüksekliği olarak ayarlar*/
    margin: 0px;/*Sayfanın dış kenar boşluğunu 0 lar*/
    overflow: hidden; /*Sayfa İçeriğinin taşmasını önler*/
}
.container{
    text-align: center;/*İçeriği ortalar*/
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}
.progress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
.progress{
    background-color: var(--line-border-fill);
    height: 4px;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    background-color: white; 
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}
.circle.active{
    border-color: var(--line-border-fill);
}
.btn{
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    padding: 8px 24px;
    font-size: 14px;
    margin: 5px;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line-border-empty);
    color: var(--line-border-fill);
}